/**
* 变量名以 $ 开头，冒号 分开命名
**/
$highlight-color: #fff;
$nav-color: #f90;
$highlight-border: 1px solid $highlight-color;

nav {
  $width: 100px;
  width: $width;
  color: $nav-color;
  background-color: $highlight-color;

  .selected {
    border: 1px solid $highlight-color;
  }

  .normal {
    border: $highlight-border;
  }
}
